In [1]:
x = 10

print('X 1 :',x)

x = 15
print('X 2 :',x)

X 1 : 10
X 2 : 15

In [3]:
y = 'Энхтогтох'
print('y value 1:',y)

y = 'Enkhtogtokh'
print('y value 2:',y)

y value 1: Энхтогтох
y value 2: Enkhtogtokh

List data structure

In [6]:
numbers = [1,3,5,10]

In [8]:
print('Numbers list value :',numbers)

Numbers list value : [1, 3, 5, 10]

In [9]:
names = ['Enkhtogtokh','Togootogtokh','Enkh']
print('names list value:',names)

names list value: ['Enkhtogtokh', 'Togootogtokh', 'Enkh']

In [10]:
dict_var = {"name":"Alice","age":22,'degree':'Ph.D'}
print("dict var :",dict_var)

dict var : {'name': 'Alice', 'age': 22, 'degree': 'Ph.D'}

In [12]:
value1 = dict_var['age']
print("age value :",value1)

age value : 22

In [14]:
number = 0

if number>0:
   print('Number is positive')
elif number < 0 :
   print('Number is negative ')
else:
   print('Number is zero ')

Number is zero

In [19]:
number = 10
for i in range(5):
    if i==1:
       continue

    print('i value :',i)
    print('number value :',number)
    if i==2:
       break

i value : 0
number value : 10
i value : 1
number value : 10
i value : 2
number value : 10