[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](
https://colab.research.google.com/drive/1Zqyk0pL-baZwsPF2X73MNMehZ_Yv7_Ol?usp=sharing)

Боловсруулах – ETL pipeline (Lab code)

In [16]:
import pandas as pd

# Extract
data_path = '/content/sales.csv'
df = pd.read_csv(data_path)
print(df)

    Id  Quantity  Price
0    1       1.0    100
1    2       3.0   2000
2    3       4.0   3000
3    4       8.0    100
4    5       9.0   1550
5    6       4.0   1650
6    7       NaN   1750
7    8       NaN   1850
8    9       6.0   1950
9   10       9.0   2050
10  11      10.0   2150
11  12      78.0   2250
12  13       NaN   2350
13  14       NaN   2450
14  15      10.0   2550
15  16      23.0   2650
16  17      36.0   2750
17  18      49.0   2850
18  19      62.0   2950
19  20      75.0   3050
20  21      88.0   3150
21  22     101.0   3250
22  23     114.0   3350
23  24     127.0   3450

In [17]:
# Transform
df['Revenue'] = df['Quantity'] * df['Price']
print(df)

    Id  Quantity  Price   Revenue
0    1       1.0    100     100.0
1    2       3.0   2000    6000.0
2    3       4.0   3000   12000.0
3    4       8.0    100     800.0
4    5       9.0   1550   13950.0
5    6       4.0   1650    6600.0
6    7       NaN   1750       NaN
7    8       NaN   1850       NaN
8    9       6.0   1950   11700.0
9   10       9.0   2050   18450.0
10  11      10.0   2150   21500.0
11  12      78.0   2250  175500.0
12  13       NaN   2350       NaN
13  14       NaN   2450       NaN
14  15      10.0   2550   25500.0
15  16      23.0   2650   60950.0
16  17      36.0   2750   99000.0
17  18      49.0   2850  139650.0
18  19      62.0   2950  182900.0
19  20      75.0   3050  228750.0
20  21      88.0   3150  277200.0
21  22     101.0   3250  328250.0
22  23     114.0   3350  381900.0
23  24     127.0   3450  438150.0

In [18]:
#Load
data_load_path = '/content/sales_transformed.csv'
df.to_csv(data_load_path, index=False)